page-partnership {
    .gridrow{ margin-top: -21px; width: 116%; height: 40px; margin-left: -8%; }
    .gridcol { background-color: #0D69AA; }
    .colmiddle { text-align: center; color: #0D69AA; padding-top: 5px; font-weight: normal; }
}
