page-howworks {
    .gridrow{ margin-top: -21px; width: 116%; height: 40px; margin-left: -8%; text-align: center; }
    .gridcol { background-color: #0D69AA;}
    .colmiddle { text-align: center; color: #0D69AA; padding-top: 9px; font-weight: normal; }
    .desc {font-size: 11px;}
    .img {height: 106px; width: auto; border-radius: 50%; border: 2px solid #0D69AA;}
    .heading {margin-top: 6px;}
    .row {text-align: center;margin-top: 10px;}
    .notesdiv{margin-bottom: 5px;}
    .scroll-content{ margin-top: 13px;}
}
